<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <!--<add key="OutputFolder" value="C:\Users\rs239\Documents\GFIPM\Gfipm-Java SIPs\CodeGen\ClientProxy" />
    <add key="InputWsdlFile" value="C:\inetpub\wwwroot\wsdl\Model2SymmetricEndorsing\wsdl\CommercialVehicleCollisionWebserviceImpl.wsdl" />
    <add key="TargetNamespace" value="urn:examples.com:techniques:iepd:commercialVehicleCollision:ws:2.0" />-->


    <add key="OutputFolder" value="C:\Users\rs239\Documents\Visual Studio 2010\Projects\SubstitutionGroupsTest\TempCode" />
    <add key="InputWsdlFile" value="..\LEXS3.1.4\wsdl\lexsPDwebserviceImpl.wsdl" />
    
    <add key="TargetNamespace" value="LexsPublishDiscoverWebService" />
    <add key="GenerateDataContracts" value="False" />
    <add key="GenerateTypedLists" value="True" />
    <add key="GenerateProperties" value="True" />
    <add key="GenerateCollections" value="True" />
  </appSettings>
</configuration>
