<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SamplesFolder" value="..\..\..\LEXS3.1.4\xml\PD-samples"></add>
    <add key="SampleXmlInstance" value="Sample-8-non-digest-aware.xml"></add>
    <!--<add key="SampleXmlInstance" value="Sample-9-all-fields.xml"></add>-->
    
    <!--<add key="ServiceEndpointAddress" value="http://localhost:8010/LexsPublishDiscover/LEXSPublishDiscoverPortType"></add>-->
    <!--<add key="ServiceEndpointAddress" value="http://lexsws.ittl.gtri.org:8080/lexsws/services"></add>-->
    <add key="ServiceEndpointAddress" value="http://localhost:8010/LEXSPublishDiscoverPortType.svc"></add>
    
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.serviceModel>
    <!--<client>
      -->
    <!--<endpoint address="http://aragorn.ittl.gtri.org:8080/LEXSPublishDiscoverPortType.svc"
                binding="customBinding" bindingConfiguration="customBinding" contract="ILEXSPublishDiscoverPortType" name="PDWebServiceAragorn"/>
      <endpoint address="http://vpatlittrs23902.ittl.gtri.org:8084/LEXSSearchRetrievePortType.svc"
               binding="customBinding" bindingConfiguration="customBinding" contract="ILEXSPublishDiscoverPortType" name="PDWebService"/>-->
    <!--
      
      -->
    <!-- Self hosting app -->
    <!--
      <endpoint address="http://localhost:8010/LexsPublishDiscover" 
                binding="basicHttpBinding" bindingConfiguration="PDWebServiceBinding" 
                contract="ILEXSPublishDiscoverPortType" name="SRWebServiceBean"/>
    </client>

    <bindings>
      <customBinding>
        <binding name="customBinding">
          <textMessageEncoding messageVersion="Soap11">
            <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          </textMessageEncoding>
          <httpTransport  maxReceivedMessageSize="2147483647" maxBufferSize="2147483647"/>
        </binding>
      </customBinding>
      <basicHttpBinding>
        <binding name="PDWebServiceBinding" closeTimeout="00:01:00"
                 openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                 allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                 maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                 messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                 useDefaultWebProxy="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" 
                        maxArrayLength="2147483647" maxBytesPerRead="2147483647" 
                        maxNameTableCharCount="2147483647"/>
          -->
    <!--<security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
          </security>-->
    <!--
        </binding>
      </basicHttpBinding>
    </bindings>-->
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" maxMessagesToLog="3000" maxSizeOfMessageToLog="524288" />
    </diagnostics>
  </system.serviceModel>
  <system.diagnostics>
    <switches>
      <add name="XmlSerialization.Compilation" value="1" />
    </switches>
    <sources>
      <source name="System.ServiceModel" switchValue="Critical,Error">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" switchValue="Critical,Error">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="C:\temp\Lexs-PD_Client-WcfLog.svclog" type="System.Diagnostics.XmlWriterTraceListener" name="xml" />
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>